---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../config';

const posts = await Astro.glob('./*.md')
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			ul {
				list-style-type: none;
				padding: unset;
			}
			ul li {
				display: flex;
			}
			ul li :global(time) {
				flex: 0 0 130px;
				font-style: italic;
				color: #595959;
			}
			ul li a:visited {
				color: #8e32dc;
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
		  <h1>文章列表</h1>
			<br/>
			<p>我搭建梭罗的小屋</p>
			<p>只是面朝大海</p>
			<br/>
			<section>
				<ul>
					{
						posts.map((post) => (
							<li style="margin: 10px; padding: 5px;">
								{post.frontmatter.pubDate && <time> {post.frontmatter.pubDate} </time> }
								<a href={post.url}>{post.frontmatter.title}</a>
								<br/>
								<span style="margin-left: 15px;">{post.frontmatter.description}</span>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>