---
import BasePage from './BasePage.astro'
import Like from '../components/Like.vue'
import { AUTHORS } from '../config'

export interface Props {
  content: {
    title: string
    description: string
    pubDate: string
    author: string
    heroImage?: string
  }
}

const {
  content: { title, description, pubDate, author, heroImage }
} = Astro.props
---

<BasePage title={title} description={description} theme="light">
  <article>
    {
      heroImage && (
        <img
          width={720}
          height={360}
          src={heroImage}
          alt=""
          class="mt-10px mb-12px box-border w-100% h-auto rounded-10px"
        />
      )
    }
    <h1 class="text-2em m-0.25em ml-0 mr-0">
      {title}
    </h1>
    <time>{pubDate}</time>
    <p>{`✏️ ${author && AUTHORS[author].cnName}`}</p>
    <br />
    <slot />
  </article>
  <br />
  <Like name={title} client:only />
</BasePage>
